<div class="container bg-primary-subtle">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Descrição</th>
        <th scope="col">Qtde Disponivel</th>
        <th scope="col">Qtde Maxima</th>
        <th scope="col">Qtde Minima</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ estoque[0].codigo }}</th>
        <td>{{ estoque[0].descricao }}</td>
        <td>{{ estoque[0].qtde_disponivel }}</td>
        <td>{{ estoque[0].qtde_maxima }}</td>
        <td>{{ estoque[0].qtde_minima }}</td>
      </tr>
      <tr>
        <th scope="row">{{ estoque[1].codigo }}</th>
        <td>{{ estoque[1].descricao }}</td>
        <td>{{ estoque[1].qtde_disponivel }}</td>
        <td>{{ estoque[1].qtde_maxima }}</td>
        <td>{{ estoque[1].qtde_minima }}</td>
      </tr>
      <tr>
        <th scope="row">{{ estoque[2].codigo }}</th>
        <td>{{ estoque[2].descricao }}</td>
        <td>{{ estoque[2].qtde_disponivel }}</td>
        <td>{{ estoque[2].qtde_maxima }}</td>
        <td>{{ estoque[2].qtde_minima }}</td>
      </tr>
      <tr>
        <th scope="row">{{ estoque[3].codigo }}</th>
        <td>{{ estoque[3].descricao }}</td>
        <td>{{ estoque[3].qtde_disponivel }}</td>
        <td>{{ estoque[3].qtde_maxima }}</td>
        <td>{{ estoque[3].qtde_minima }}</td>
      </tr>
    </tbody>
  </table>
</div>
